<!DOCTYPE html>
<html lang="en">
  <!--Head-->
  <%- include('../partials/head.ejs') %>
  <body>
    <!--Nav-->
    <%- include('../partials/nav.ejs') %>

    <!--Alert-->
    <%- include('../partials/alert.ejs') %>

    <!--Index Body-->
      <div class="start">
        <div class="container">
          <div class="card my-3 mx-2">
            <div class="card-body shadow">
              <div class="d-flex">
                <div class="m-1"><img  src= /<%= avatar %> alt="img" width="50px"></div>
                <div class="m-1">
                  <h6> Author: <%= author%></h6>
                  <h5 class="card-title"><%= blog.head %></h5>
                  <h6 class="card-subtitle mb-2 text-muted"><%= blog.subHead %></h6>
                </div>              
              </div>          
              <hr>
              <%if (blog.image){ %>
                <div class="d-flex justify-content-center">
                <img src="<%= blog.image %>" alt="img" class="up-image">
                </div>
               <% } %>
              <p class="card-text">
                <div class="blogWrap">
                  <%= blog.content %>
                </div>
              </p>
              <% if (userStatus===false){%>
              <a href="/blogs" class="card-link float-right m-2 ">Back</a>
             <%}else{%>
              <a href="" class="card-link float-right m-2 " data-toggle="modal" data-target="#deleteModal" >Delete</a>
              <a href="/update/<%= blog._id %>" class="card-link float-right m-2 ">Update</a>
              <%}%>
            </div>
          </div>
            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Are you sure ???</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Are you sure you want to permanentely delete this file? <br>
                    you can also modify contents by updating post !
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-dark del-btn"  data-apiid=<%= blog._id %> >Delete Post</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>

    <!--Footer-->
    <%- include('../partials/footer.ejs') %>

    <!--Script-->
    <%- include('../partials/script.ejs') %>
    <script>
      const bin = document.querySelector('button.del-btn');
      bin.addEventListener('click', (event)=>{
        event.preventDefault();
         const api = `/user/${bin.dataset.apiid}`;
         fetch(api,{
             method:'Delete'
         }).then((response)=>response.json())
         .then(data=>{
          window.location.href=data.redir;
         })
         .catch((err)=>{
             console.log(err)
         })
      })
  </script>
  </body>
</html>