<!DOCTYPE html>
<html lang="en">
  <!--Head-->
  <%- include('../partials/head.ejs') %>
  <body>
    <!--Nav-->
    <%- include('../partials/nav.ejs') %>

    <!--Alert-->
    <%- include('../partials/alert.ejs') %>

    
    <div class="start">
      <div class="container fluid">
        <div class="row">
          <div class="col">
          <div class=" card mb-3 mx-2 p-4 shadow">
            <form action="/update/<%= blog._id %>" method="POST" enctype="multipart/form-data">
                <h4 class="text-center">Update Blog</h4>
              <div class="form-group">

                <%if (blog.image){ %>
                  <div class="d-flex justify-content-center mt-4">
                  <img src="/uploads/<%= blog.image %>" alt="img" class="up-image">
                  </div>
                  <a href="/update/delete/<%=blog._id%>" class="btn btn-outline-dark w-100 my-2">Delete / Update New Image</a>
                 <% } %>
                <br/>
                <label for="">Blog title</label>
                <input
                  type="text"
                  class="form-control"
                  id=""
                  placeholder="Blog title"
                  name="head"
                  required
                  value="<%= blog.head %>"
                />
              </div>
              <div class="form-group">
                <label for="">Blog subtitle</label>
                <input
                  type="text"
                  class="form-control"
                  id=""
                  placeholder="Blog subtitle"
                  name='subHead'
                  required
                  value="<%= blog.subHead %>"
                />
              </div>

              <div class="form-group">
                <label for="">Blog Content</label>
                <textarea
                  class="form-control"
                  id=""
                  rows="3"
                  placeholder="Blog Content"
                  name="content"
                  required
                > <%= blog.content %> </textarea>
              </div>
              <%if (!blog.image){ %>
              <div class="form-group">
                <h6 >Uplaod photo (optional)</h6>
                <small><b>(Its reccomented to upload images with ratio 16:9 for better appereance)</b></small>
                <input type="file" class="form-control-file" id="image" name="image"  value="uploads/<%=blog.image %>">
              </div>
              <% } %>
              <button type="submit" class="btn btn-outline-dark float-right">
                Update
              </button>
            </form>
          </div>
          </div>
        </div>
      </div>
    </div>

    <!--Footer-->
    <%- include('../partials/footer.ejs') %>

    <!--Script-->
    <%- include('../partials/script.ejs') %>
  </body>
</html>
