<!DOCTYPE html>
<html lang="en">
  <!--Head-->
  <%- include('../partials/head.ejs') %>
  <body>
    <!--Nav-->
    <%- include('../partials/nav.ejs') %>

    <!--Alert-->
    <%- include('../partials/alert.ejs') %>

    
    <div class="start">
      <div class="container fluid">
        <div class="row">
          <div class="col">
          <div class=" card mb-3 mx-2 p-4 shadow">
            <form action="/update/<%= blog._id %>" method="POST" enctype="multipart/form-data">
                <h4 class="text-center">Update Blog</h4>
              <div class="form-group">
                <%if (blog.image){ %>
                  <div class="d-flex justify-content-center mt-4">
                  <img  src="  <%= blog.image %>" alt="img" class="up-image">
                  </div>
                 <% }else{ %>
                  <div class="d-flex justify-content-center mt-4">
                    <img  src="/public/assets/up-imgs.png" alt="no image uploaded" class="up-image">
                    </div>
                  <% }%>
                <br/>
                <div class="form-group">
                  <h6 >Uplaod photo (optional)</h6>
                  <small><b>(Its reccomented to upload images with ratio 16:6 for better appereance)</b></small>
                  <input type="file" class="form-control-file img-up" id="image" name="image">
                </div>

                <label for="">Blog title</label>
                <input
                  type="text"
                  class="form-control"
                  id=""
                  placeholder="Blog title"
                  name="head"
                  required
                  value="<%= blog.head %>"
                />
              </div>
              <div class="form-group">
                <label for="">Blog subtitle</label>
                <input
                  type="text"
                  class="form-control"
                  id=""
                  placeholder="Blog subtitle"
                  name='subHead'
                  required
                  value="<%= blog.subHead %>"
                />
              </div>

              <div class="form-group">
                <label for="">Blog Content</label>
                <textarea
                  class="form-control"
                  id=""
                  rows="3"
                  placeholder="Blog Content"
                  name="content"
                  required
                > <%= blog.content %> </textarea>
              </div>
              

              <button type="submit" class="btn btn-outline-dark float-right">
                Update
              </button>
            </form>
          </div>
          </div>
        </div>
      </div>
    </div>

    <!--Footer-->
    <%- include('../partials/footer.ejs') %>

    <!--Script-->
    <%- include('../partials/script.ejs') %>
    <script>
      let fileButton = document.querySelector('input.img-up')
      let img= document.querySelector('img.up-image')
      fileButton.addEventListener('change' , ()=>{

        const file = fileButton.files[0];
        if(file){
          const reader = new FileReader();
          reader.onload = ()=>{
          img.src=reader.result;
          }
          reader.readAsDataURL(file);
        }
        
      })
    </script>
  </body>
</html>
